.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 15px;
  width: 22%;
}

.card img {
  width: 100%
}.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 15px;
  width: 22%;
}

.card img {
  width: 100%
}